@charset "UTF-8";

/* BASE STYLES */

body{
    background-color: #f2f2f2;
    font-size: 15px;
    margin: 0;
    /* width: 375px; */
}

.card-container{
    /* width: 60%; DESKTOP STYLES  */
    /* margin-left: 275px; DESKTOP STYLES  */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 60%;
/* margin: 60px 50px;
padding: 0 10px; */

}

.button{
border-radius: 30px;
padding: 1px 20px;
width: 15%;
background-color: hsl(0, 0%, 95%);
}

.button p{
    text-align: center;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}


/* preview card styles-- MOBILE */

.sedan-wrapper{
background-color: hsl(31, 77%, 52%);
/* width: 33%; DESKTOP  */
}

.sedan-wrapper .button p{
    color: hsl(31, 77%, 52%);
}

.suv-wrapper{
    background-color: hsl(184, 100%, 22%);
    /* width: 33%; DESKTOP */
}

.suv-wrapper .button p {
color: hsl(184, 100%, 22%);
}


.luxury-wrapper{
    background-color: hsl(179, 100%, 13%);
    /* width: 33%; DESKTOP */
}

.luxury-wrapper .button p{
    color: hsl(179, 100%, 13%);
}

