@charset "UTF-8";

/* BASE STYLES */

body {
    background-color: #f2f2f2;
    font-size: 15px;
    margin: 0;
}

.card-container {
    /* width: 60%; DESKTOP STYLES  */
    /* margin-left: 275px; DESKTOP STYLES  */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    margin: 60px 40px;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
}

.card-container p {
    line-height: 25px;
}


.button {
    border-radius: 30px;
    padding: 0 25px;
    margin-top: 25px;
    margin-bottom: 45px;
    width: 40%;
    background-color: hsl(0, 0%, 95%);

}

.button p {
    text-align: center;
    padding: 10px 0;

}

h1 {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

.attribution {
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* preview card styles-- MOBILE */
img {
    margin-top: 40px;
    margin-bottom: 5px;
}

.sedan-wrapper {
    background-color: hsl(31, 77%, 52%);
    /* width: 33%; DESKTOP  */
    padding-left: 45px;
    padding-right: 40px;

}

.sedan-wrapper .button p {
    color: hsl(31, 77%, 52%);
}

.suv-wrapper {
    background-color: hsl(184, 100%, 22%);
    /* width: 33%; DESKTOP */
    padding-left: 45px;
    padding-right: 45px;
}

.suv-wrapper .button p {
    color: hsl(184, 100%, 22%);
}


.luxury-wrapper {
    background-color: hsl(179, 100%, 13%);
    /* width: 33%; DESKTOP */
    padding-left: 45px;
    padding-right: 45px;
}

.luxury-wrapper .button p {
    color: hsl(179, 100%, 13%);
}

/* DESKTOP STYLES */
@media only screen and (min-width:1280px) {
    .card-container {
        /* width: 60%; DESKTOP STYLES  */
        /* margin-left: 275px; DESKTOP STYLES  */
        /* display: flex; */
        /* flex-flow: row wrap; */
        /* justify-content: center; */
        /* align-items: center; */
        /* box-sizing: border-box; */
        /* width: 80%; */
        margin-top: 80px;
        margin-bottom: 50px;
        margin-left: 50px;
        /* border: 1px solid black; */
        /* border-radius: 30px; */
        /* overflow: auto; */
    }

    .button {
        /* border-radius: 30px; */
        /* padding: 0 25px; */
        margin-top: 80px;
        /* margin-bottom: 45px; */
        /* width: 40%; */
        /* background-color: hsl(0, 0%, 95%); */
    
    }
    

    .sedan-wrapper {
        width: 22%;
        padding-left: 50px;
           }

    .suv-wrapper {
        width: 22%;
        padding-left: 50px;
           }

    .luxury-wrapper {
        width: 22%;
        padding-left: 50px;   
    }
}